.btn {
    background-image: linear-gradient(to right, red ,#6978D1, blue);
    border: none;
    padding: 12px;
    border-radius: 30px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
    font-size: 15px;
    width: 160px;
    transition: transform 0.5s;
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* Define a posição inicial */
    100% { transform: rotate(360deg); } /* Define a posição final */
  }

.btn:hover{
    color: aliceblue;
    background-image: linear-gradient(to right, blue,#6978D1,red );
    animation: spin 1s linear infinite;
}